@*
 * Copyright 2011 Sean McCleary
 * 
 * This file is part of capt.
 *
 * capt is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Foobar is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
 *@
@model Capt.Models.Picture

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Picture</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Activates)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Activates)
            @Html.ValidationMessageFor(model => model.Activates)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdminNote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdminNote)
            @Html.ValidationMessageFor(model => model.AdminNote)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Attribution)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Attribution)
            @Html.ValidationMessageFor(model => model.Attribution)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AttributionUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AttributionUrl)
            @Html.ValidationMessageFor(model => model.AttributionUrl)
        </div>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.IsNSFW)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsNSFW)
            @Html.ValidationMessageFor(model => model.IsNSFW)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsPrivate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsPrivate)
            @Html.ValidationMessageFor(model => model.IsPrivate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsVisible)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsVisible)
            @Html.ValidationMessageFor(model => model.IsVisible)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicenseId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LicenseId, (List<SelectListItem>)ViewData["LicenseOptions"])
            @Html.ValidationMessageFor(model => model.LicenseId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
