@{
    ViewBag.Title = ViewBag.SiteName + "'s Conditions";
}

<h2>@ViewBag.SiteName's Conditions</h2>

<p>
    If you would like to use @ViewBag.SiteName, you must be OK with the following:
</p>
<ul>
    <li>
        Other people will see the captions you submit.  If you do not submit them anonymously, and you 
        unwisely use your real name, people will be able to identify you.
    </li>
    <li>
        @ViewBag.SiteName can and will remove any of your captions at your request, but has no power to 
        remove them from search engines such as <a href="http://www.google.com/">Google</a> and archivers 
        such as <a href="http://www.archive.org">The Wayback Machine</a>, who will most assuredly
        pick your captions up.
    </li>
    <li>
        By submitting a caption to @ViewBag.SiteName, you retain the copyright but agree to license that caption for use under the
        <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)</a>
        license.  (In short, this means anyone can copy and use your caption &mdash; even for commercial purposes &mdash; but must
        attribute it to you and place the same conditions on anything they do with it.)  @ViewBag.SiteName will attribute your caption to you 
        using your @ViewBag.SiteName nickname, or anonymouly if you choose not to use one.
    </li>
    <li>
        If @ViewBag.SiteName suspects you are manipulating the voting system in any way, @ViewBag.SiteName will lock and/or delete your account
        and captions.
    </li>
    <li>
        If @ViewBag.SiteName feels you are a negative influence on the website, @ViewBag.SiteName will lock and/or delete your account and
        captions.
    </li>
    <li>
        In fact, if @ViewBag.SiteName so much as <em>just feels like doing so</em>,
        @ViewBag.SiteName will lock and/or delete your account and captions.  (@ViewBag.SiteName is ruled with an iron fist.)
    </li>
    <li>
        @ViewBag.SiteName is not responsible for you embarrassing yourself on this website or anywhere online.
    </li>
    <li>
        @ViewBag.SiteName is not responsible for someone else embarrassing you on this website or anywhere online.
    </li>
</ul>
