@{
    ViewBag.Title = ViewBag.SiteName + "'s Privacy Policy";
}

<h2>@ViewBag.SiteName's Privacy Policy</h2>

<p>
    @ViewBag.SiteName makes you the following promises:
</p>
<ul>
    <li>
        If you choose to give @ViewBag.SiteName your email address, @ViewBag.SiteName won't sell it to spammers or marketers or send you
        any emails that you didn't ask for.
    </li>
    <li>
        @ViewBag.SiteName doesn't store passwords, so don't worry about someone hacking in and getting yours.
    </li>
    <li>
        @ViewBag.SiteName doesn't know who you really are.  @ViewBag.SiteName doesn't require you to tell @ViewBag.SiteName who you really are.
    </li>
</ul>

<p>
    @ViewBag.SiteName is pretty lax.  Please don't take advantage of @ViewBag.SiteName.
</p>
