@*
 * Copyright 2011 Sean McCleary
 * 
 * This file is part of capt.
 *
 * capt is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Foobar is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
 *@
@{
    ViewBag.Title = ViewBag.SiteName + "'s Privacy Policy";
}

<h2>@ViewBag.SiteName's Privacy Policy</h2>

<p>
    @ViewBag.SiteName makes you the following promises:
</p>
<ul>
    <li>
        If you choose to give @ViewBag.SiteName your email address, @ViewBag.SiteName won't sell it to spammers or marketers or send you
        any emails that you didn't ask for.
    </li>
    <li>
        @ViewBag.SiteName doesn't store passwords, so don't worry about someone hacking in and getting yours.
    </li>
    <li>
        @ViewBag.SiteName doesn't know who you really are.  @ViewBag.SiteName doesn't require you to tell @ViewBag.SiteName who you really are.
    </li>
</ul>

<p>
    @ViewBag.SiteName is pretty lax.  Please don't take advantage of @ViewBag.SiteName.
</p>
