@*
 * Copyright 2011 Sean McCleary
 * 
 * This file is part of capt.
 *
 * capt is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * capt is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with capt.  If not, see <http://www.gnu.org/licenses/>.
 *@
@using Capt.Models;
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />

        <link rel="alternate" type="application/rss+xml" title="Latest Pictures (RSS 2.0)" href="@Url.Action("IndexRss", "PictureCaptions")" />
        <link rel="alternate" type="application/rss+xml" title="Latest Captions (RSS 2.0)" href="@Url.Action("IndexRss", "CaptionForPicture")" />
        
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        @Html.Action("Include", "Analytics", new { Area = "Analytics" } )
        @Html.Action("Include", "CDN", new { Area = "CDN" })
    </head>
    <body>
        <div class="page">
            <header>
                <div id="title">
                    <a href="/"><h1>@ViewBag.SiteName</h1></a>
                </div>
                <nav>
                    <ul id="topmenu" class="menu">
                        @if (Request.IsAuthenticated)
                        {
                            var user = (User)Session["User"];
                            object routeValues = null;
                            if (String.IsNullOrWhiteSpace(user.Name))
                            {
                                routeValues = new { userName = user.Id };
                            }
                            else
                            {
                                routeValues = new { userName = user.Name };
                            }
                                
                            <li id="topmenu_score">
                                @Html.ActionLink(
                                    @String.Format((user.Score == 1 ? "you have {0} point" : "you have {0} points"), user.Score),
                                    "IndexByUser", "CaptionForPicture", routeValues, new { })
                            </li>
                        }

                        <li>@Html.ActionLink("home", "Index", "PictureCaptions")</li>

                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("log off", "LogOff", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("log on", "LogOn", "Account", new { ReturnUrl = Request.Url }, new { })</li>
                            <li>@Html.ActionLink("sign up", "LogOn", "Account", new { ReturnUrl = Request.Url }, new { })</li>
                        }



                        @if (ViewBag.IsAdminStuffShown)
                        {
                            <li>@Html.ActionLink("add picture", "Create", "Picture", null, new { @class = "admin_option" })</li>
                            <li>@Html.ActionLink("users", "Index", "User", null, new { @class = "admin_option" })</li>
                        }

					    @if (User.IsInRole("Administrator"))
         {
						    <li>@Html.ActionLink("toggle privileges", "TogglePrivilegeMode", "Account", new { ReturnUrl = Request.Url }, new { @class = "admin_option" })</li>
         }

                    </ul>
                </nav>
                <div class="clear" />
            </header>
            <section id="main">
                @RenderBody()
            </section>
            <footer>
                    <ul id="top_menu" class="menu">
                        <li>@Html.ActionLink("about", "About", "Info")</li>
                        <li>@Html.ActionLink("contact", "Contact", "Info")</li>
                        <li>@Html.ActionLink("terms & conditions", "Conditions", "Info")</li>
                        <li>@Html.ActionLink("privacy policy", "Privacy", "Info")</li>
                        <li><a href="http://www.seanmccleary.info/projects/capt">powered by capt</a></li>
                    </ul>
                    <p style="text-align: right;">
                        All content copyrighted by original authors and licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
                        <a href="http://creativecommons.org/licenses/by-sa/3.0/"><img style="vertical-align: middle;" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
                    </p>
            </footer>
        </div>
    </body>
</html>
