@*
 * Copyright 2011 Sean McCleary
 * 
 * This file is part of capt.
 *
 * capt is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * capt is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with capt.  If not, see <http://www.gnu.org/licenses/>.
 *@
@model IEnumerable<Capt.Models.CaptionForPictureViewModel>

@{
    ViewBag.Title = "Latest Captions";
}

<script src="@Url.Content("~/Scripts/CaptionInput.js")" type="text/javascript"></script>

<div id="scoreboard">
    @Html.Partial("~/Views/User/UserForScoreBoardPartial.cshtml", ViewData["RankedUsers"])
</div>

@Html.Partial("~/Views/Shared/PictureCaptionMenuPartial.cshtml")

<table id="picture_index_table">

    @foreach (var item in Model) {
        <tr>
			<td class="picture_list_image_cell">
				<div class="picture_list_image_container">
					<a href="@Url.Action("Create", "PictureCaptions", new { pictureId = item.Picture.Id })">
						<img class="picture_list_image" src="@item.Picture.Url" />
					</a>
				</div>
                
                @if (!String.IsNullOrWhiteSpace(item.Picture.Attribution))
                {
                    <br /><span class="user_caption_list_picture_attribution">@Html.Raw(item.Picture.Attribution)</span>
                }
                <br /><a href="@item.Picture.License.InfoUrl"><img src="@Html.Raw(item.Picture.License.ImageUrl)" /></a>
                

            </td>
            <td style="padding-left: 40px;">
                @Html.Partial("~/Views/CaptionForPicture/DetailsPartial.cshtml", item)
            </td>
        </tr>
    }

</table>

