@model Capt.Models.Caption

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Caption</legend>

    <div class="display-label">UpVotes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpVotes)
    </div>

    <div class="display-label">DownVotes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DownVotes)
    </div>

    <div class="display-label">Score</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Score)
    </div>

    <div class="display-label">AdminNote</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdminNote)
    </div>

    <div class="display-label">CreateEventId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateEventId)
    </div>

    <div class="display-label">IsAnonymous</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAnonymous)
    </div>

    <div class="display-label">IsVisible</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsVisible)
    </div>

    <div class="display-label">PictureId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PictureId)
    </div>

    <div class="display-label">Text</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

    <div class="display-label">UserId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
